{% extends 'layout.twig' %}

{% block body %}
    <div class="content">
    <div class="pure-g">
        <div class="pure-u-1-3 hide-md"></div>
        <div class="pure-u-md-1-3 pure-u-1 pure-u-sm-1">
            <form class="pure-form full-w" id="pass-auth-form">
                <fieldset class="pure-group">
                    <h1><input type="text" class="pure-input-1 auto-save" name="login" placeholder="Логин"></h1>
                    <h1><input type="password" class="pure-input-1" name="password" placeholder="Пароль"></h1>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Войти</button>
            </form>
            <p>
                Нет аккаунта? <a href="/user-register">Зарегистрироваться</a>
            </p>
        </div>
        <script type="text/javascript">
            setupForm($('#pass-auth-form'), 'auth-session', function (data) {
                if (data['user_id']) {
                    document.location.href = '/'; 
                }
            });
        </script>
        <div class="pure-u-1-3 hide-md" ></div>
    </div>
    </div>
{% endblock %}