{% block body %}
    <style type="text/css">
        .logs-line {
            font-family: monospace;
            padding: 0.2em 1em;
            width: 100vw;
            line-break: loose;
            box-sizing: border-box;
        }
    </style>
    {% for log in logs %}
        <div class="logs-line">{{ log }}</div>
    {% endfor %}
{% endblock %}