<div class="header-area main-content-parent">
    <div class="pure-g main-content">
        <div class="pure-u-1-5 menu">
            <div class="logo">
                <a href="/">R-Store</a>
            </div>
        </div>
        <div class="pure-u-4-5 menu" style="">
            <div class="top-menu align-parent">
                <a href="/projects/new/project">+проект</a>
                <a href="/">все проекты</a>
                <span id="login" class="alignright" style="display: none">
                    <span id="sign-in">
                        <a href="/user-auth/" >войти</a>
                    </span>
                    <span id="user-page"> 
                        <a href="/user/me">моя страница</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
{% block sub_theme %}
    <div class="main-content-parent sub-theme">
        <div class="main-content">
            {% block head_parent %}
                <div class="zero-layer">
                    {% block head %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
<div class="main-content-parent">
    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="main-content-parent layout-footer">
    <div class="main-content">
        <div class="zero-layer">
            <div class="pure-g layout-footer-links">
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>Разделы</h3>
                    <ul>
                        <li><a href="/projects/">Все проекты</a></li>
                        <li><a href="/projects/show/best/">Лучише проекты</a></li>
                        <li><a href="/projects/show/newest/">Новые проекты</a></li>
                        <li><a href="/user/all/list/">Участники</a></li>
                    </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>О проекте</h3>
                    <ul>
                        <li><a href="/product/page/idea/">Идея проекта</a></li>
                        <li><a href="/product/page/team/">Команда</a></li>
                        <li><a href="/product/page/contacts/">Контакты</a></li>
                    </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <h3>Поддержка</h3>
                    <ul>
                        <li><a href="mailto:contact@herach.online">contact@herach.online</a></li>
                        <li><a href="https://t.me/herach_online" target="_blank">Группа в Telegram</a></li>
                        <li><a href="https://t.me/ho_channel" target="_blank">Канал в Telegram</a></li>
                    </ul>
                </div>
                <div class="pure-u-1 pure-u-md-1-3"></div>
            </div>
        </div>
    </div>
</div>