<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <script type="text/javascript" src="/vendor/jquery-3.2.1.min.js"></script>
    <script src="/vendor/jquery.color-2.1.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        
        html {
            font-size: 10px;
        }

        /**
        sm	@media screen and (min-width: 35.5em)	≥ 568px	 .pure-u-sm-*
        md	@media screen and (min-width: 48em)	    ≥ 768px	 .pure-u-md-*
        lg	@media screen and (min-width: 64em)	    ≥ 1024px .pure-u-lg-*
        xl	@media screen and (min-width: 80em)	    ≥ 1280px .pure-u-xl-*
        **/
        
        .hide-sm, .hide-md, .hide-lg, .hide-xl {
            display: none;
        }
        
        @media (min-width: 35.5em) { 
            html {
                font-size: 12px;
            }
            
            .hide-sm {
                display: block;
            }
        }

        @media screen and (min-width: 48em){
            html {
                font-size: 14px;
            }
            
            .hide-md {
                display: block;
            }
        }

        @media screen and (min-width: 64em){
            html {
                font-size: 18px;
            }

            .hide-lg {
                display: block;
            }
        }

        @media screen and (min-width: 80em) {
            html {
                font-size: 20px;
            }
            
            .hide-xl {
                display: block;
            }
        }
            
        .logo {
            margin: 1rem ; font-size: 2em; color: #526066;
            white-space: nowrap; overflow: hidden;
        }
        
        .top-menu {
            margin: 1rem; font-size: 2em; color: #eeeeee;
        }

        .top-menu a, .top-menu a:visited, .top-menu a:active {
            /*color: #aaaaaa;*/
            color: #222222;
            text-decoration: none;
            -webkit-transition: color 0.1s ease-out ;
            -moz-transition: color 0.1s ease-out ;
            -o-transition: color 0.1s ease-out ;
            transition: color 0.1s ease-out ;
        }

        .top-menu a:hover {
            color: #6196d2;
        }
        
        .header {
            background: #eeeeee;
            height: 4em;
        }

        button {
            height: 36px;
        }
        
        .sub-theme {
            background-color: #ffffdd;
        }

        html, body {
            background-color: white;
            height: 100%;
            width: 100%;
        }

        body {
            max-width: 1366px;
            display: inline-block;
            text-align: left;
        }
        
        html {
            text-align: center;
        }
        
        .zero-layer {
            padding: 0 1rem;
        }
        
        .content {
            margin: 1rem;
        }

        .alignleft {
            float: left;
        }
        .alignright {
            float: right;
        }
        
        .align-parent {
            clear: both;
        }

        .pure-form input, .pure-form textarea  {
            box-shadow: none !important;
            border: none !important;
        }
    </style>
</head>
<body>
<div class="pure-g header">
    <div class="pure-u-1-5 menu">
        <div class="logo">
            R-Store    
        </div>
    </div>
    <div class="pure-u-4-5 menu" style="">
        <div class="top-menu align-parent">
            <a href="/projects/new/project">+проект</a>
            <a href="/">все проекты</a>
            <a href="/user-auth/" class="alignright">войти</a>
        </div>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1 sub-theme zero-layer">
        {% block head %}{% endblock %}
    </div>
    <div class="pure-u-1 content">
        <div>
        {% block body %}
        {% endblock %}
        </div>
    </div>
    {% if env.debug %}
    <div class="pure-u-1 logs-footer">
        <script>
            $.get('/dev-logs/{{ request_id }}', function (data) {
                $( ".logs-footer" ).html( data );
            })
        </script>
    </div>
    {% endif %}
</div>
</body>
</html>
