{% extends 'layout.twig' %}

{% block head %}
    <h1>Лучшие проекты</h1>
{% endblock %}

{% block body %}
    <div class="pure-g color-bg-main-tr">
    {% for project in projects %}
        <div class="pure-u-md-1-3 pure-u-sm-1 pure-u-1 ">
            <div class="padding-1">
                <h2>{{ project.title}}</h2>
                <p class="block-25">
                    {{ project.desc }}
                    {% if not project.desc %}
                        Нет описания
                    {% endif %}
                    {% if project.owner %}
                        <div>
                            Проект <a href="/user/{{ project.owner.id }}">@{{ project.owner.nickname }}</a>
                        </div>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}