{% extends _layout ? _layout : 'layout.twig' %}

{% block head %}
    <h1>{{ project.title }}
    {% if editable %}
        <a class="alignright" href="/projects/{{ project.id }}/edit">редактировать</a>
    {% endif %}
    </h1>
{% endblock %}

{% block body %}
    <div class="content">
        <p class="pre-line">{{ project.desc }}</p>
    </div>
{% endblock %}