{% extends _layout ? _layout : 'layout.twig' %}

{% block title %}Пользователи{% endblock %}

{% block head %} <h1>Пользователи</h1>{% endblock %}

{% block body %}
    <div class="content">
        <div class="pure-g">
            {% for user in users %}
            <div class="pure-u-1">
                <a href="/user/{{ user.id }}"><h1>{{ user.nickname }}</h1></a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}